* {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

fieldset {
    border: none;
}

body {
    margin: 0 auto;
    color: #ffffff;
    padding: 0;
    font-family: "Exo 2.0";
    font-weight: 300;
    background-color: rgba(149, 148, 149, 0.79);
}
span{
    font-size: 16px;
    color: #323232;
}
a{
    font-size: 16px;
    color: #323232;
}
p{
    color: #323232;
    font-size: 16px;
}
.invisLink {
    position: relative;
    z-index: 1;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    outline: none;
    border: 0;
    background: transparent;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cfix::after {
    content: '';
    display: block;
    clear: both;
}
.phoneBold{
    font-weight: 700;
}
h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}
h2{
    font-weight: 700;
    font-size: 20px;
    color: #323232;
}
.bannerRight p{
    line-height: 23px;
}
.bannerAboutButton button{
    color: #ffffff;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding:  0 15px;
}


                    /* HEADER */
header{
    background: #a8d7ff;
}
.headerLogo{
    height: 60px;
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #db0c2c ;
    float: left;
}
.navMenu {
    display: flex;
    float: left;
    justify-content: space-evenly;
    width: calc(100% - 300px);
    height: 60px;
    padding: 18px 0 0 20px;
}
.navMenu li{
    height: 30px;
}
.navMenu li:hover{
    border-bottom: 2px solid #db0c2c;
}

.headerContacts{
    max-width: 200px;
    float: right;
    text-align: right;
    padding: 5px 14px 0 0;
    vertical-align: middle;
}
.headerContacts span{
    line-height: 24px;

}
span[class*=icon]{
    padding-right: 4px;
}
span[class=icon-phone]{
    font-size: 12px;
}
span[class=icon-mail]{
    font-size: 14px;
}
                            /*BANNER*/
.banner {
    min-height: 490px;
    background-color: #e6e6e6;
}
.bannerWrapper{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.bannerLeftWrapper{
    width: 65.8%;
    height: 430px;
    padding: 30px;
}

.bannerRight{
    width: 31.6%;
    background-color: #fff;
    height: 430px;
    padding: 25px 0 0 30px;
}
.bannerLeft{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.bannerLeft:after{
    content: '';
    position: absolute;
    display: block;
    width: 479px;
    height: 250px;
    z-index: -1;
    background-image: url(../img/png/bannerfront.png);
}
.bannerLeft:before{
    content: url("../img/svg/bannerborder.svg");
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}
